@charset "UTF-8";
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.eot") format("eot"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.eot") format("eot"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light.eot") format("eot"), url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/RobotoSlab-Thin.eot") format("eot"), url("../fonts/RobotoSlab-Thin.woff") format("woff"), url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.eot") format("eot"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot") format("eot"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot") format("eot"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.eot") format("eot"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Play-bold";
  src: url("../fonts/playbold.woff2") format("woff2"), url("../fonts/playbold.woff") format("woff"), url("../fonts/playbold.ttf") format("truetype");
}
@font-face {
  font-family: "Play-reg";
  src: url("../fonts/playregular.woff2") format("woff2"), url("../fonts/playregular.woff") format("woff"), url("../fonts/playregular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  outline: none;
  font-family: Play-bold, sans-serif;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.5s ease;
  text-align: center;
  border: none;
  border-radius: 60px;
}

.btn-outline {
  background: transparent;
  border: 2px solid #FFAE66;
}

.btn-green {
  border: 1px solid linear-gradient(270deg, #FFAE66 -15.7%, #FF855D 100%);
  background: linear-gradient(270deg, #FFAE66 -15.7%, #FF855D 100%);
}
.btn-green:hover {
  background: linear-gradient(90deg, #FFAE66 -22.98%, #FF855D 102.57%);
  box-shadow: 0px 7px 51px rgba(255, 155, 98, 0.81);
}

.btn-primary {
  border: 1px solid #fff;
  background: transparent;
}
.btn-primary:hover {
  background: linear-gradient(180deg, #466EDE 0%, #498ade 100%);
  border: 1px solid #466EDE;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

header .head_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 14px;
}
header nav ul li a {
  padding: 0px 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: Montserrat-Regular, sans-serif;
  text-decoration: none;
  position: relative;
}
header nav ul li a:hover {
  color: #FFA04D;
}
header nav ul li:last-child {
  margin-right: 0;
}
header .control_panel button {
  border-radius: 60px;
  border: 1px solid linear-gradient(#FFB170, #FF7E50);
}
header .control_panel button.btn-register {
  width: 250px;
  height: 48px;
}
header .control_panel button.btn-login {
  width: 250px;
  height: 48px;
}
header .control_panel a {
  font-size: 14px;
  font-family: Montserrat-Medium, sans-serif;
  color: #1C6AC4;
  text-decoration: none;
}

.first_screen {
  background: #ffffff url(../img/first-bg.png) no-repeat center/cover;
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
}

#main {
  height: calc(100% - 80px);
  overflow: hidden;
}
#main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#main .main_content {
  text-align: left;
  max-width: 700px;
}
#main .main_content h1 {
  text-align: left;
  margin: 0;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-family: Play-bold, sans-serif;
  font-size: 47px;
  line-height: 67px;
  margin-bottom: 50px;
}
#main .main_content h1 span {
  color: #FFA55A;
}
#main .main_content .wrap-checks {
  margin-bottom: 60px;
}
#main .main_content .wrap-checks .cheks-item {
  font-size: 17px;
  margin-right: 35px;
}
#main .main_content .wrap-checks .cheks-item p {
  font-size: 17px;
}
#main .main_content .wrap-checks .cheks-item:last-child {
  margin-right: 0;
}
#main .main_content .wrap-checks .cheks-item img {
  margin-right: 20px;
  display: block;
}
#main .main_content p {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-family: Montserrat-Regular, sans-serif;
  margin-top: 24px;
  margin-bottom: 35px;
  color: #ffffff;
}
#main .main_content button {
  font-size: 18px;
  width: 285px;
  text-align: center;
  height: 64px;
}
#main .main_img {
  margin-right: -150px;
}
#main .main_img img {
  max-width: 100%;
}

#econ_calendar {
  padding: 70px 0px;
  padding-bottom: 250px;
  background: url(../img/cal-bg.png) no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
#econ_calendar .abs-top {
  position: absolute;
  top: 100px;
  right: 5%;
}
#econ_calendar .abs-bot {
  position: absolute;
  bottom: -250px;
  left: 0;
}
#econ_calendar h3 {
  line-height: 73px;
  font-family: Play-bold, sans-serif;
  font-size: 42px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
  color: #030A22;
}
#econ_calendar h3 span {
  color: #FFC08C;
}
#econ_calendar p {
  font-size: 24px;
  line-height: 40px;
  font-family: Montserrat-Regular;
  text-align: center;
  margin-bottom: 70px;
}

#consult {
  background: url("../img/consult.png") no-repeat center/cover;
  padding: 120px 0px;
}
#consult .h3 {
  color: #ffffff;
  font-size: 42px;
  line-height: 55px;
  font-family: Play-bold;
  margin-bottom: 50px;
}
#consult .h3 span {
  color: #FFC08C;
}
#consult .consult-info {
  max-width: 675px;
}
#consult .consult-info p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: Montserrat-Regular;
  color: rgba(255, 255, 255, 0.7);
}
#consult .wrap-consult {
  width: 720px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#consult .wrap-consult .consult-item {
  display: flex;
  align-items: center;
  color: #fff;
}
#consult .wrap-consult .consult-item .consult-icon {
  margin-right: 25px;
}
#consult .wrap-consult .consult-item .title {
  flex: 18px;
  font-family: Montserrat-Bold, sans-serif;
  margin-bottom: 5px;
}
#consult .wrap-consult .consult-item p {
  font-size: 18px;
  font-family: Montserrat-Regular, sans-serif;
}
#consult .control {
  margin-top: 60px;
}
#consult .control button {
  width: 310px;
  height: 70px;
  font-size: 17px;
  font-family: Play-bold;
}

#excell {
  padding: 120px 0px;
}
#excell .container {
  display: flex;
  justify-content: space-between;
}
#excell h3 {
  text-align: center;
  font-size: 42px;
  color: #000;
  font-family: Play-bold, sans-serif;
  margin-bottom: 65px;
}
#excell h3 span {
  color: #FFC08C;
}
#excell .ex-wrap .ex-item {
  margin-bottom: 45px;
}
#excell .ex-wrap .ex-item .title {
  color: #232138;
  font-size: 24px;
  font-family: Montserrat-Bold, sans-serif;
  margin-left: 35px;
}
#excell .ex-wrap .ex-item p {
  margin-top: 20px;
  max-width: 535px;
  color: #232138;
  font-size: 20px;
  line-height: 170%;
  font-family: Montserrat-Regular, sans-serif;
}
#excell .ex-tel {
  margin-right: -50px;
}

section h3 {
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-family: Play-bold, sans-serif;
  margin: 0;
}
section h3 span {
  color: #FFC08C;
}

#why {
  background: #fff url("../img/why-bg.png") no-repeat center/cover;
  padding-top: 115px;
  padding-bottom: 150px;
}
#why h3 {
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-family: Play-bold, sans-serif;
  margin-bottom: 90px;
}
#why h3 span {
  color: #FFC08C;
}

#why .wrap-why, #steps .wrap-why {
  display: flex;
  justify-content: space-between;
}
#why .wrap-why .why-item, #steps .wrap-why .why-item {
  background: #1C1B2D;
  padding: 25px 35px;
  box-shadow: 0px 17px 36px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  width: 375px;
}
#why .wrap-why .why-item p, #steps .wrap-why .why-item p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 27px;
  font-family: Montserrat-Regular, sans-serif;
}
#why .wrap-why .why-head, #steps .wrap-why .why-head {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
}
#why .wrap-why .why-head .number, #steps .wrap-why .why-head .number {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 17px;
  font-family: Montserrat-Bold, sans-serif;
  background: #FF7A4A;
  border-radius: 50%;
  color: #ffffff;
}
#why .wrap-why .why-head .title, #steps .wrap-why .why-head .title {
  font-size: 24px;
  font-family: Montserrat-Medium;
  color: #fff;
  margin-left: 20px;
}

#steps {
  background: url("../img/step-bg.png") no-repeat center/cover;
  padding: 130px 0px;
}
#steps .steps-wrap {
  display: flex;
  justify-content: space-between;
}
#steps .steps-left {
  text-align: center;
}
#steps h3 {
  margin-bottom: 60px;
}
#steps .steps-right .wrap-why {
  flex-direction: column;
}
#steps .steps-right .wrap-why .why-item {
  width: 405px;
  margin-bottom: 20px;
}
#steps .steps-right .wrap-why .why-item P {
  font-size: 14px;
}
#steps .steps-right .wrap-why .why-item .title {
  font-size: 21px;
}
#steps .steps-right button {
  margin-top: 35px;
  width: 100%;
  height: 80px;
}

#profit {
  padding: 130px 0px;
  background: url("../img/profit-bg.png") no-repeat center/cover;
}
#profit h3 {
  color: #000;
}
#profit .slick-custom-prev, #profit .slick-custom-next {
  background: linear-gradient(270deg, #FFAE66 -15.7%, #FF855D 100%);
  box-shadow: 0px 7px 19px rgba(255, 155, 98, 0.5);
  border-radius: 60px;
  position: absolute;
  border: none;
  outline: none;
  width: 54px;
  height: 54px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  top: 50%;
}
#profit .slick-custom-prev {
  left: -70px;
}
#profit .slick-custom-next {
  right: -60px;
}
#profit .subtitle {
  color: #232138;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
#profit .slick-slider .slick-list {
  padding: 50px 0px;
}
#profit .company-profit .profit-item {
  border-radius: 12px;
  background: #fff;
  width: 275px;
  padding: 30px;
  margin-right: 20px;
  outline: none !important;
}
#profit .company-profit .profit-item:last-child {
  margin-right: 0;
}
#profit .company-profit .profit-item .prof-head {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(35, 33, 56, 0.14);
  margin-bottom: 25px;
  height: 105px;
}
#profit .company-profit .profit-item .prof-head .prof-img {
  margin-bottom: 20px;
}
#profit .company-profit .profit-item .prof-head .prof-title {
  font-size: 19px;
  color: #232138;
  font-family: Montserrat-Medium, sans-serif;
}
#profit .company-profit .profit-item .prof-body .prof-lab {
  color: rgba(35, 33, 56, 0.7);
  font-size: 14px;
  margin-bottom: 20px;
  font-family: Montserrat-Regular, sans-serif;
}
#profit .company-profit .profit-item .prof-body .prof-percent {
  color: #232138;
  font-size: 27px;
  font-family: Montserrat-Bold, sans-serif;
}

#faq {
  background: url("../img/faq-bg.png") no-repeat center/cover;
  padding: 115px 0px;
}
#faq h3 {
  margin-bottom: 85px;
  color: #000;
}
#faq #accordion {
  margin: 0 auto;
}
#faq #accordion div.group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}
#faq #accordion div.group:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}
#faq #accordion h4 {
  font-size: 20px;
  line-height: 30px;
  font-family: Montserrat-Bold, sans-serif;
  border: none;
  outline: none;
  display: flex;
  margin: 0;
  padding: 30px 35px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #F5F5F5;
  cursor: pointer;
}
#faq #accordion h4 small {
  width: 50px;
  height: 50px;
  background: linear-gradient(270deg, #FFAE66 -15.7%, #FF855D 100%);
  box-shadow: 0px 7px 19px rgba(255, 155, 98, 0.5);
  border-radius: 50%;
  position: relative;
}
#faq #accordion h4 small:hover {
  background: #fff;
}
#faq #accordion h4 small:hover:before {
  color: #FF7A4A;
}
#faq #accordion h4 small:before {
  content: "+";
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
}
#faq #accordion h4 small:before:hover {
  color: #FF7A4A;
}
#faq #accordion h4 i {
  display: block;
  color: #F2C94C;
  font-size: 25px;
}
#faq #accordion h4 span {
  display: none;
}
#faq #accordion h4 + div {
  padding: 20px 35px;
}
#faq #accordion h4.ui-accordion-header-active {
  color: #FFFFFF;
  background: #FF9F63;
}
#faq #accordion h4.ui-accordion-header-active:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  margin-top: 10px;
}
#faq #accordion h4.ui-accordion-header-active + div {
  background: #FF9F63;
}
#faq #accordion h4.ui-accordion-header-active + div p {
  color: #FFFFFF;
}
#faq #accordion h4.ui-accordion-header-active small:before {
  content: "−";
}
#faq #accordion p {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat-Medium, sans-serif;
}

#questions {
  background: url("../img/quest-bg.png") no-repeat center/cover;
  padding: 160px 0px;
}
#questions .questions-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#questions .questions-wrap .quest-left p {
  font-size: 24px;
  color: #ffffff;
  line-height: 40px;
  margin-top: 30px;
  font-family: Montserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form {
  display: flex;
}
#questions .questions-wrap .quest-right form input {
  height: 84px;
  border-radius: 60px;
  border: none;
  padding: 0px 40px;
  outline: none;
  width: 335px;
  font-family: Montserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form input::-webkit-input-placeholder {
  font-family: Monteserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form input::-moz-placeholder {
  font-family: Monteserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form input:-moz-placeholder {
  font-family: Monteserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form input:-ms-input-placeholder {
  font-family: Monteserrat-Regular, sans-serif;
}
#questions .questions-wrap .quest-right form button {
  width: 320px;
  height: 84px;
  margin-left: 12px;
}
#questions .questions-wrap .quest-right small {
  display: block;
  font-size: 14px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat-Regular, sans-serif;
}

footer {
  background: #1E1D2D;
  padding: 45px 0px;
}
footer .foot-wrap {
  display: flex;
  justify-content: space-between;
}
footer .foot-wrap .foot-left .pravo {
  margin-top: 10px;
  font-size: 12px;
  font-family: Montserrat-Medium, sans-serif;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .foot-wrap .foot-left .requisites {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: Montserrat-Medium, sans-serif;
}
footer .foot-wrap .foot-left .requisites div {
  margin-bottom: 10px;
}
footer .foot-wrap .foot-center {
  min-width: 450px;
}
footer .foot-wrap .foot-center nav {
  display: block;
  margin-bottom: 80px;
}
footer .foot-wrap .foot-center nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
footer .foot-wrap .foot-center nav ul a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: Montserrat-Regular, sans-serif;
  text-decoration: none;
}
footer .foot-wrap .foot-center .documentations .documentations-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
footer .foot-wrap .foot-center .documentations .documentations-item img {
  margin-right: 15px;
}
footer .foot-wrap .foot-center .documentations .documentations-item a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.44);
  line-height: 23px;
  font-family: Montserrat-Regular, sans-serif;
}
footer .foot-wrap .foot-right .control {
  margin-bottom: 40px;
}
footer .foot-wrap .foot-right .control button {
  height: 45px;
  width: 250px;
}
footer .foot-wrap .foot-right .social {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .foot-wrap .foot-right .social div {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: #fff;
  margin-right: 15px;
}
footer .foot-wrap .foot-right .social a {
  display: block;
  margin-right: 10px;
}
footer .foot-wrap .foot-right .social a:last-child {
  margin-right: 0;
}
footer .foot-wrap .foot-right .contacts a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
footer .foot-wrap .foot-right .contacts .tel {
  font-size: 24px;
  font-family: Montserrat-Bold, sans-serif;
  margin-bottom: 10px;
}
footer .foot-wrap .foot-right .contacts .mail {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Montserrat-Medium, sans-serif;
}
footer .foot-wrap .foot-right .contacts .mail img {
  margin-right: 10px;
}

.bottom-line {
  background: black;
  padding: 15px 0px;
}
.bottom-line .line-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-line .line-wrap .email a {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Regular, sans-serif;
  opacity: 0.5;
}
.bottom-line .line-wrap p {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat-Regular, sans-serif;
  opacity: 0.5;
}
.bottom-line .line-wrap .bank_type {
  display: flex;
}
.bottom-line .line-wrap .bank_type div {
  margin-right: 15px;
}

.copyright {
  color: #F3F3F3;
  font-size: 10px;
  margin-top: 55px;
  text-align: center;
  font-family: Montserrat-Regular, sans-serif;
}

.window-popup-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}
.window-popup-container .sign_wrapper {
  width: 425px;
  margin: 0 auto;
  background: #fff;
}
.window-popup-container .sign_wrapper .sign-head {
  background: #ffffff;
  padding: 0px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #efefef;
}
.window-popup-container .sign_wrapper .sign-head ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.window-popup-container .sign_wrapper .sign-head ul li {
  width: 50%;
  text-align: center;
}
.window-popup-container .sign_wrapper .sign-head ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat-Medium, sans-serif;
  color: #7E8592;
  line-height: 22px;
  display: block;
  padding: 13px 0px;
  border-bottom: 2px solid transparent;
}
.window-popup-container .sign_wrapper .sign-head ul li a.active {
  color: #000000;
  border-bottom: 2px solid #1C6AC4;
}
.window-popup-container .sign_wrapper .sign-body {
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 600px;
  overflow-y: auto;
}
.window-popup-container .sign_wrapper .sign-body .data-field {
  margin-bottom: 25px;
}
.window-popup-container .sign_wrapper .sign-body input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #7E8592;
  height: 50px;
  color: #000;
  padding: 0px 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-family: Montserrat-Regular, sans-serif;
}
.window-popup-container .sign_wrapper .sign-body input:focus {
  border: 2px solid #108956;
}
.window-popup-container .sign_wrapper .sign-body button {
  width: 100%;
  height: 40px;
}
.window-popup-container .sign_wrapper .sign-body .bot {
  text-align: center;
}
.window-popup-container .sign_wrapper .sign-body a.forgot {
  font-size: 12px;
  line-height: 15px;
  color: #999EB4;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  margin-top: 20px;
  font-family: Montserrat-Regular, sans-serif;
}
.window-popup-container .sign_wrapper .sign-body .body-block {
  display: none;
}
.window-popup-container .sign_wrapper .sign-body .body-block.active {
  display: block;
}
.window-popup-container .sign_wrapper .sign-body .agree {
  font-size: 12px;
  font-family: Montserrat-Regular, sans-serif;
  color: #7E8592;
}
.window-popup-container .reset_pass .sign_wrapper .sign-head {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 0px;
  font-family: Montserrat-Medium, sans-serif;
  position: relative;
}
.window-popup-container .reset_pass .sign_wrapper .sign-head .close {
  position: absolute;
  right: 7px;
  top: 15px;
}
.window-popup-container .reset_pass .sign_wrapper .sign-body p {
  font-size: 14px;
  font-family: Montserrat-Regular, sans-serif;
  line-height: 22px;
  color: 0;
  margin: 0;
  margin-bottom: 10px;
}

.window-popup-container.active {
  display: flex;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

.iti__selected-dial-code {
  font-family: Montserrat-Regular, sans-serif;
}

.sign_wrapper {
  position: relative;
}

.close {
  position: absolute;
  color: #ffffff;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #011D4D;
  border-bottom: 4px solid #011D4D;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}

input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.data-field {
  display: block;
  vertical-align: top;
  position: relative;
}

.form-input, .form-input-not {
  width: 100%;
  color: #fff;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 14px;
  line-height: 40px;
  transition: 0.3s;
  font-size: 14px;
  line-height: 20px;
  font-family: Montserrat-Regular, sans-serif;
  color: #7E8592;
  background: #ffffff;
  padding: 0px 4px;
}

.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
  top: -11px;
  left: 10px;
  color: #1C6AC4;
}

.form-input-not:focus ~ .form-label {
  top: -11px;
  left: 10px;
  color: #1C6AC4;
}

.form-input-not ~ .form-label.active {
  top: -11px;
  left: 10px;
  color: #1C6AC4;
}

.valid {
  font-family: Roboto-Regular, sans-serif;
  margin-top: 5px;
  color: #E85E59;
}

.btn-yellow {
  font-family: Montserrat-Bold, sans-serif;
  background: #1C6AC4;
  text-transform: uppercase;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
